#heart{
    width:100px;
    height:100px;
    background-color:red;
    margin:100px auto;
    position:relative;
    transform:rotate(45deg);
    -webkit-animation:example 0.3s linear 1s infinite alternate ;
    z-index:0;
    }
    #heart:after{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    content:"";
    top:0px;
    left:-50px;
    background-color:red;
    box-shadow:0 0 40px rgba(213,9,60,1);
    -webkit-animation:examp 0.5s linear 1s infinite alternate ;
    /*border-top:1px solid rgba(213,9,60,1);
    border-left:0px solid rgba(213,9,60,1);*/
    z-index:2;
    }
    #heart:before{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    content:"";
    top:-50px;
    right:0px;
    background-color:red;
    box-shadow:0 0 40px rgba(213,9,60,1);
    -webkit-animation:examp 0.5s linear 1s infinite alternate ;
    z-index:-1;
    }
    @-webkit-keyframes example{
    0%   { -webkit-transform:scale(1,1) rotate(45deg);box-shadow:0 0 40px rgba(213,9,60,1);}
        100%  {-webkit-transform:scale(1.1,1.1) rotate(45deg);box-shadow:0 0 40px rgba(213,9,60,.6);}
        }
        @-webkit-keyframes examp{
    0%   { box-shadow:0 0 40px rgba(213,9,60,1);}
        100%  {box-shadow:0 0 40px rgba(213,9,60,.6);}
        }